fieldset{
    width: 210px;
}
input#result{
    width: 230px;
}
button{
    width: 75px;
    background-color: black;
    color: pink;
}

button:hover{
    background-color: pink;
    color: black;
}
/* body :hover{
} */