div.car>select.type2{
    display: none;
}

div.link{
    width: 230px;
    height: 100px;
    background-color:pink;
}
div.link>a{
    color: black;
    display: inline-block;
    height:100px;
    width: 140px;
}

div.link :hover{
    color: white;
    background-color: black;
}